---
title: Meetup group for Technical Professionals in Worcestershire
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">A local meetup group...</h2>
		<p class="subtext editable">...that inspires, motivates, and connects <em>technical professionals</em> in Worcestershire.</p>
		<p><a class="button alt" href="https://www.meetup.com/Worcester-Source-Meetup/">Join Now</a></p>
	</div>
</section>

{% for event in site.data.upcoming_events limit:1 %}
<section class="diagonal patterned">
	<div class="container halves">
		<div class="blog-post">
			<h3 class="editable">Our next event:</h3>
			<p class="editable"><strong>{{ event.name }}</strong></p>
            <p class="post-details"><span class="post-date">({{ event.local_date | date_to_string }} at {{ event.local_time }})</span></p>
			<p class="editable">{{ event.description | strip_html | truncatewords: 40 }}</p>
			<p class="editable"><a href="{{ event.link }}">Find out more &rarr;</a></p>
		</div>
		<div>
			{% if event.featured_photo %}
				<a href="{{ event.link }}"><img src="{{ event.featured_photo.highres_link }}"></a>
			{% else %}
				<a href="{{ event.link }}"><img src="{{ site.base_url }}/images/event_missing_photo.jpg"></a>
			{% endif %}
		</div>
	</div>
</section>
{% endfor %}
